.addBtn {
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 26;
  color: green;
  background-color: skyblue;
}
.buyBtn {
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 26;
  color: yellow;
  background-color: red;
}
